* {
    font-family: "Agrandir", sans-serif;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/background.png");
    background-size: cover;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    font-size: 100px;
   background: -webkit-radial-gradient( #f59dc0,#f18cce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2%;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
}
#buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
    flex-wrap: wrap;
}
.button {
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50px;
    color: #203162;
    text-decoration: none;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    border: none;
}
.button-login {
    background-color: #f59dc0;
    font-size: 15px;
}
.button-signup {
    background-color: #19989c;
    font-size: 15px;
}
button {
    width: 100%;
  }

.button-create{
     background-color: rgb(11, 65, 123);
     border: none;
     font-family:"Quicksand", sans-serif;
     border-radius: 10px;
     color: white;
     padding: 13px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     font-weight: 600;

}

.button-cancel{
    background-color: rgb(241, 4, 4);
     border: none;
     font-family:"Quicksand", sans-serif;
     border-radius: 2px;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     font-weight: 600;

}

.button-do{
     background-color: rgb(99, 241, 4);
     border: none;
     font-family:"Quicksand", sans-serif;
     border-radius: 2px;
     color: black;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     font-weight: 600;

}
  
  .task-container {
    width: 100%;
    border: 1px solid black;
    background: white;
    border-radius: 2px;
    font-family:"Quicksand", sans-serif;
  }
  
  .card-container {
    margin:20px;
    padding:10px;
    width: 25%;
    border-radius:5px;
    height: 100%;
  }
  
  .task-item {
    padding: 5px;
  }
  
  .vertical-space {
    height: 10px;
  }
  
  .card-title {
    font-size: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  
  input {
    width: 100%;
    font-family: "Quicksand", sans-serif;
  }
  
  textarea {
    width: 100%;
    font-family: "Quicksand", sans-serif;
  }
  
  .input-container {
    padding-right: 5px;
    border-radius: 10px;
  }

  body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #abcbd0;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    height: 80px;
    border: 1px solid #abcbd0;
    justify-content: space-around;
    align-content: center;
}
#profile {
    border: 1px solid #abcbd0;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

}
#home {
    border: 1px solid #abcbd0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#profile:hover, #home:hover {
    background-color: #ec7ba8;
}
nav {
    align-items: center;
    height: 100%;
    width: 80%;
    border: 1px solid #abcbd0;
    display: flex;
    justify-content: space-around;
}
nav > a {
    flex-grow: 1;
    height: 100%;
    border: 1px solid #abcbd0;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

nav > a:hover {
    background-color: #f59dc0;
}

nav > a:visited{
    color: black;
}

nav > a:active{
    color: #f59dc0;
}
#schedule_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subject_form {
    display: flex;
    flex-direction: column;
}

#classes {
    display: flex;
}

@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}

@media (max-width: 400px) {
    h1 {
      font-size: 48px;
    }

    #buttons {
        gap: 10px;
    }
}