body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #abcbd0;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    height: 80px;
    border: 1px solid #abcbd0;
    justify-content: space-around;
    align-content: center;
}
#profile {
    border: 1px solid #abcbd0;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

}
#home {
    border: 1px solid #abcbd0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#profile:hover, #home:hover {
    background-color: #ec7ba8;
}
nav {
    align-items: center;
    height: 100%;
    width: 80%;
    border: 1px solid #abcbd0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
nav > a {
    flex-grow: 1;
    height: 100%;
    border: 1px solid #abcbd0;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

nav > a:hover {
    background-color: #f59dc0;
}

nav > a:visited{
    color: black;
}
#schedule_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subject_form {
    display: flex;
    flex-direction: column;
}

#classes {
    display: flex;
}

@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}

button {
    background-color: rgb(11, 65, 123);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 13px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    font-weight: 500;
  }
  
.input-label {
    font-family:'Quicksand', sans-serif;
    color: #203162;
    font-weight:600;
}

input {
    width: 100%;
    padding: 5px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.vertical-space {
    height: 10px;
  }
  
.input-container {
    padding-right: 5px;
    border-radius: 10px;
  }
  
.card-panel {
    display: flex;
}

.card-container {
    margin:20px;
    padding:10px;
    border-radius:25px;
    height: 100%;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  
@media (max-width: 700px) {
    nav {   
      display: none;
    }

    .card-panel {
        display: inline;
    }
}